#coding-snapshot
{

    .head-line {
        width: 82px;
        color: dotted;
        border-color: #E5B900;
        border-width: 10px;
        text-align: left;
        margin-left: 0px;
      }

      
    h2{
        text-align: left;
        font-weight: bold;
    }
}