#technology-stack
{


  .App-logo {
    height: 45px;
    margin: 5px 10px;
    transition: all .3s ease-in-out; 
  }

  .App-logo:hover { 
    transform: scale(1.2);
   }

  .App-header {
    padding: 20px;
    color: #222;
  }
  .App-title {
    font-size: 4em;
    font-weight: bold;
  }
}