#wakatime-activity {
  
  .head-line {
    width: 82px;
    color: dotted;
    border-color: #e5b900;
    border-width: 10px;
    text-align: left;
    margin-left: 0px;
  }
  h2 {
    text-align: left;
    font-weight: bold;
  }

  .coding-item {
    margin: 10px auto;
  }
  .nav-tabs {
    border-bottom: none;
  }

  figure {
    padding: 5px;
    background: #141635;
  }
}
