@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700" rel="stylesheet');
body {
  font-family: "Fira Sans", sans-serif;
  background: #25333f;
  color: white;
}

a {
  color: #E5B900;
}

.App {
  text-align: center;
}

.section {
  .section-hr {
    width: 82px;
    color: dotted;
    border-color: #E5B900;
    border-width: 10px;
    text-align: left;
    margin-left: 0px;
  }
  h2 {
    text-align: left;
    font-weight: bold;
  }

 
  .nav-tabs .nav-link {
    border-radius: 0px;
    border: none;
    border-bottom: 3px;
    font-size: .8em;
  }

  .nav-tabs .nav-link {
    border-radius: 77px;
    border: none;
    border-bottom: 3px;
    background: transparent;
    border: solid 1px;
    padding: 5px 10px;
    margin: 0px 5px;
  }

  
  .nav-tabs {
    border-bottom: none;
  }

}

header {
  height: 500px;
  text-align: left;
  .title {
    font-weight: bold;
    font-size: 6em;
    text-align: left;
    line-height: 90px;
    margin: 50px 0px 20px 0px;
    color: white;
  }
  h2 {
    font-size: 2rem;
    font-weight: lighter;
    color: whitesmoke;
  }
  .App-logo {
    height: 50px;
  }
  .App-header {
    padding: 20px;
    color: #222;
  }
  .App-title {
    font-size: 4em;
    font-weight: bold;
  }
  .no-animation {
    animation: none;
  }
  .App-intro {
    font-size: large;
  }
}


.section .nav-tabs .nav-link {
	border-radius: 77px;
	border: none; 
	border-bottom: 3px;
	background: transparent;
	/* border: solid 1px; */
	padding: 5px 10px;
	margin: 0px 5px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: white;
  background-color: #14b3fb;
  border:solid 1px  #14b3fb;
  border:none;
  /* border-color: #dee2e6 #dee2e6 #fff; */
  border-radius: none;
}



.tab-content{
  padding: 15px 0px;
}

a:hover{
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}