@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700" rel="stylesheet');

body {
  font-family: "Fira Sans", sans-serif;
  background: #25333f;
  color: white;
}

.App {
  text-align: center;
}

header {
  height: 500px;
  text-align: left;

  .title {
    font-weight: bold;
    font-size: 6em;
    text-align: left;
    line-height: 90px;
    margin: 50px 0px 20px 0px;
    color: white;
  }

  h2 {
    font-size: 2rem;
    font-weight: lighter;
    color: whitesmoke;
  }

  .App-logo {
    height: 50px;
  }

  .App-header {
    padding: 20px;
    color: #222;
  }
  .App-title {
    font-size: 4em;
    font-weight: bold;
  }

  .no-animation {
    animation: none;
  }

  .App-intro {
    font-size: large;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
