#experiences {
    text-align: left;

    .css-1tr4ugw {
        h3 {
            font-size: 2.5em;
            font-weight: bold;
            line-height: 0.9em;
            margin-bottom: 5px;
        }

        h4 {
            font-size: 1.4em;
            margin-bottom: .2em;
            font-weight: lighter;
        }

        h5{
                font-size: 1.3em;
                margin-bottom: 1.2em;
                font-weight: bold;
    
        }
    }

    .css-1id2lqt::before {
        background-color: rgb(255, 255, 255);
        content: '';
        margin-left: -1px;
        position: absolute;
        top: 10px;
        left: 2em;
        width: 2px;
        height: 100%;
    }

    .css-vcfpfv {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgb(255, 255, 255);
        outline: 0px solid #121327;
        display: block;
        margin: 0.5em 0.5em 0.5em -0.5em;
        position: absolute;
        top: 0;
        left: 2em;
        width: 1em;
        height: 1em;
        -moz-outline-radius: 10px;
    }
}