header {
  text-align: left;
  padding-top:50px;



  #version {
    position: absolute;
    left: -50px;
    font-weight: lighter;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 39px;
    background: #e5b900;
    border-bottom: solid 1px yellow;
    padding:5px;
    margin:0px 5px;
  }
  
  hr {
    width: 82px;
    color: dotted;
    border-color: #E5B900;
    border-width: 10px;
    text-align: left;
    margin-left: 0px;
  }

  #short-desc {
    margin: 20px 0px; 
  }
  #logo {
    display: block;
  }
  .title {
    font-weight: bold;
    font-size: 5em;
    text-align: left;
    line-height: 70px;
    margin: 0px;
    color: white;
  }
  h2 {
    margin-top: 20px;
    font-size: 2.5rem;
    font-weight: bolder;
    color: whitesmoke;
  }
  h6{
    font-weight: bold;
  }

  .no-animation {
    animation: none;
  }
  .App-intro {
    font-size: large;
  }
}
