#skillset {
  margin: 0px 0px;
  text-align: left;
  .progress{
    border-radius: 0px;
  }
  img {
    height: 50px;
    float: left;
  }


  .skill-item{
    margin: 10px auto;
  }
  .nav-tabs {
    border-bottom: none;
  }

  .progress-bar{
    border-radius: 1px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7fc984+0,0e7884+44,5c097c+100 */
    background: #52B38B;
}
}