#skillset {
  margin: 0px 0px;
  text-align: left;
  .progress{
    border-radius: 0px;
  }
  img {
    height: 50px;
    float: left;
  }


  .skill-item{
    margin: 10px auto;
  }
  .nav-tabs {
    border-bottom: none;
  }
}