
.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  padding: 20px;
  color: #222; }

.App-title {
  font-size: 4em;
  font-weight: bold;
}


header
{
  height: 500px;
}


.no-animation{
  animation: none;
}
.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
